<footer class="footer">
  <div class="container footer__items">
    <a class="footer-item" href="https://github.com/sliminas">
      <img class="footer-item__icon" src="/assets/images/github.png" alt="Github">Github</img>
    </a>
    <a class="footer-item" href="https://twitter.com/sliminasDD">
      <img class="footer-item__icon" src="/assets/images/twitter.png" alt="Twitter">Twitter</img>
    </a>
    <a class="footer-item" href="https://www.linkedin.com/in/stephan-leibelt-dd/">
      <img class="footer-item__icon" src="/assets/images/linkedin.png" alt="LinkedIn">LinkedIn</img>
    </a>
  </div>
</footer>
